{% extends "layout.html" %}

{% load static %}

{% block body %}
   <section id="login-content">
        <div id="login-banner-container">
            <div class="capa"></div>
            <div class="banner-content">
                <section id="login-container-section">
                    <div id="login-container">
                        <div id="login-container-title">
                            <h1 id="login-title">Iniciar Sesión</h1>
                        </div>
                        <div id="login-container-form">
                            <div id="login-error-msg-container">
                                <label id="login-error-msg" for=""></label>
                            </div>
                                <div class="login-input-container">
                                    <input type="email" class="form-control" id="login-user-email" name="email" placeholder="Correo electrónico">
                                </div>
                                <div class="">
                                    <input type="password" class="form-control" id="login-user-password" name="password" placeholder="Contraseña">
                                </div>
                                <div class="">
                                    <button id="user-login-btn" type="submit" class="">Iniciar Sesión</button>
                                </div>
                                <div class="register-link-container">
                                    <a href="{% url 'qatar_2022:signup' %}" id="register-link">Regístrate</a>
                                </div>
                        </div>
                    </div>
                </section>
            </div> 
        </div>
    </section>
{% endblock body %}

{% block script %}
    <link rel="stylesheet" href="{% static 'css/login_styles.css' %}">
    <script src="{% static '/js/users.js' %}"></script>
{% endblock %}