@font-face{
    font-family: RobotoLigth;
    src: url(./fonts/Roboto-Light.ttf);
}

@font-face{
    font-family: RobotoMedium;
    src: url(./fonts/Roboto-Medium.ttf);
}

#worldcup-matches-container,
#worldcup-matches-container-live{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    min-height: 100vh;
    margin-top: 40px;
    border: 0px solid green;
}

#worldcup-matches-container-live{
    margin-top: 40px;
    min-height: auto;
}

#worldcup-match-container,
#worldcup-match-container-live{
    width: 350px;
    margin: 30px;
    max-height: 136px;
    border: 0px solid #962038b7;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: -8px 6px 15px rgba(82, 81, 81, 0.356);
}


#worldcup-match-number-container,
#worldcup-match-number-container-live{
    background: #962037;
    height: 30px;
    border-bottom: 1px solid #962038b7;
    padding: 6px;
    border-radius: 10px 10px 0px 0px;
}

#worldcup-match-number-container-live{
    background: #02b93d;
    border-bottom: 1px solid #02b93d;
}

.worldcup-match-number-container-title{
    font-size: 15px;
    color: #ffffff;
}

#worldcup-match-team_1, #worldcup-match-team_2{
    display: inline-flex;
    margin-top: 10px;
    margin-left: 10px;
}

#worldcup-match-team_2{
    margin-bottom: 10px;
}

.worldcup-match-team_1-code, 
.worldcup-match-team_2-code{
    width: 10%;
}

#worldcup-match-team_1-name,
#worldcup-match-team_2-name{
    width: 65%;
    margin-left: 0px;
}

.worldcup-match-team-flag{
    width: 30px;
    margin-right: 3px;
}

.worldcup-match-team-flag > img{
    border: 1px solid black;
    max-height: 18px;
}

#worldcup-match-team_1-name-title,
#worldcup-match-team_2-name-title{
    font-family: RobotoMedium;
    color: #222;
}


#worldcup-match-team_1-goals-container,
#worldcup-match-team_2-goals-container{
    width: 20%;
    margin-right: 20px;
}

#worldcup-match-team_1-goals,
#worldcup-match-team_2-goals{
    width: 100%;
}

.worldcup-match-date-container,
.worldcup-match-date-container-live{
    border-top: 1px solid #962037;
    padding: 5px;
    padding-left: 12px;
}

.worldcup-match-date-container-live{
    border-top: 1px solid #02b93d;
}

#worldcup-match-date-title{
    font-family: RobotoLigth;
    font-size: 14px;
    color: #222; 
}

#worldcup-save-pool-matches-btn-container{
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

#worldcup-save-pool-matches-btn,
#worldcup-key-pool-matches-btn{
    width: 150px;
    height: 40px;
    padding-top: 10px;
    border: 1px solid #962037;
    border-radius: 10px;
    text-align: center;
    background: #962037;
    cursor: pointer;
    transition: all 400ms ease;
}


#worldcup-save-pool-matches-btn > #worldcup-save-pool-matches-btn-title{
    color: #ffffff;
    box-shadow: -8px 6px 15px rgba(82, 81, 81, 0.356);
}

#worldcup-save-pool-matches-btn:hover{
    background: #791b2e;
}

#worldcup-key-pool-matches-btn{
    margin-top: 30px;
    background: #2c5a89;
    border: 1px solid #2c5a89;
    color: #ffffff;
}

#worldcup-key-pool-matches-btn:hover{
    background: #204366;
}

@media (max-width: 615px){

    #worldcup-matches-container{
        width: 90%;;
    }
    #worldcup-matches-container-live{
        min-height: 35vh;
    }
    
}

#key-round-title-container{
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: -30px;
}

#key-round-title{
    font-size: 18px;
}



#index-teams-groups-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 95%;
    height: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 0px solid blueviolet;
}

.team-group-container{
    width: 350px;
    height: 177px;
    margin: 10px;
    border: 0px solid #2c5a89;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: -4px 1px 11px rgba(82, 81, 81, 0.356);
    overflow: hidden;
}

#worldcup-group-container{
    background: #2c5a89;
    height: 30px;
    border-bottom: 1px solid #2c5a89;
    padding: 6px;
    border-radius: 10px 10px 0px 0px;
}

.worldcup-group-container-title{
    font-size: 15px;
    color: #ffffff;
    margin-left: 5px;
}

#worldcup-group-data-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    height: 30px;
    border-bottom: 1px solid #2c5a89;
}

#worldcup-group-data-team-container{
    width: 153px;
    border: 0px solid red;
    margin: 0px;
}

#worldcup-group-data-team-title-container{
    width: 120px;
    border: 0px solid red;
    margin: 0px;
}

.worldcup-group-data-stats-container{
    width: 28px;
    text-align: center;
    border: 0px solid green;
    margin: 0px;
}

.worldcup-group-data-stats-title{
    margin-top: 6px;
    font-size: 14px;
}

.worldcup-group-data-stats-team-title{
    margin-top: 6px;
    margin-left: 6px;
    font-size: 14px;
}

.worldcup-group-data-team-flag{
    width: 30px;
    margin-top: 6px;
    margin-left: 3px;
}

.worldcup-group-data-team-flag > img{
    border: 1px solid black;
    max-height: 18px;
}

.worldcup-group-teams-country-container{
    margin-top: 5px;
}


@media (max-width: 700px){

    #index-teams-groups-section{
        width: 100%;
    }
    
}

#pool-points-section{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    margin-top: 50px;
    margin-bottom: -50px;
}

.pool-points-container{
    width: auto;
    text-align: center;
    margin-left: 16px;
    margin-right: 16px;
}

.pool-points-container > h4{
    font-family: RobotoLigth;
    font-size: 15px;
}