@font-face{
    font-family: RobotoLigth;
    src: url(./fonts/Roboto-Light.ttf);
}

@font-face{
    font-family: RobotoMedium;
    src: url(./fonts/Roboto-Medium.ttf);
}

#worldcup-matches-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    min-height: 100vh;
    margin-top: 40px;
    border: 0px solid green;
}

#worldcup-match-container{
    width: 300px;
    margin: 30px;
    border: 0px solid #962038b7;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: -8px 6px 15px rgba(82, 81, 81, 0.356);
}

#worldcup-match-number-container{
    background: #962037;
    height: 30px;
    border-bottom: 1px solid #962038b7;
    padding: 6px;
    border-radius: 10px 10px 0px 0px;
}

.worldcup-match-number-container-title{
    font-size: 15px;
    color: #ffffff;
}

#worldcup-match-team_1, #worldcup-match-team_2{
    display: inline-flex;
    margin-top: 10px;
    margin-left: 10px;
}

#worldcup-match-team_2{
    margin-bottom: 10px;
}

.worldcup-match-team_1-code, 
.worldcup-match-team_2-code{
    width: 10%;
}

#worldcup-match-team_1-name,
#worldcup-match-team_2-name{
    width: 65%;
    margin-left: 0px;
}

.worldcup-match-team-flag{
    width: 30px;
    margin-right: 3px;
}

.worldcup-match-team-flag > img{
    border: 1px solid black;
    max-height: 18px;
}

#worldcup-match-team_1-name-title,
#worldcup-match-team_2-name-title{
    font-family: RobotoMedium;
    color: #222;
}


#worldcup-match-team_1-goals-container,
#worldcup-match-team_2-goals-container{
    width: 20%;
    margin-right: 20px;
}

#worldcup-match-team_1-goals,
#worldcup-match-team_2-goals{
    width: 100%;
}

.worldcup-match-date-container{
    border-top: 1px solid #962037;
    padding: 5px;
    padding-left: 12px;
}

#worldcup-match-date-title{
    font-family: RobotoLigth;
    font-size: 14px;
    color: #222; 
}

#worldcup-save-pool-matches-btn-container{
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

#worldcup-save-pool-matches-btn{
    width: 150px;
    height: 40px;
    padding-top: 10px;
    border: 1px solid #962037;
    border-radius: 10px;
    text-align: center;
    background: #962037;
    cursor: pointer;
    transition: all 400ms ease;
}

#worldcup-save-pool-matches-btn > #worldcup-save-pool-matches-btn-title{
    color: #ffffff;
    box-shadow: -8px 6px 15px rgba(82, 81, 81, 0.356);
}

#worldcup-save-pool-matches-btn:hover{
    background: #791b2e;
}

@media (max-width: 615px){

    #worldcup-matches-container{
        width: 90%;;
    }
    
}