@font-face{
    font-family: RobotoLigth;
    src: url(./fonts/Roboto-Light.ttf);
}

@font-face{
    font-family: RobotoMedium;
    src: url(./fonts/Roboto-Medium.ttf);
}

#rankings-banner-container {
    width: 100%;
    height: 900px;
    margin: 0;
    background-image: url("../img/messicristiano.jpg");
    animation: banner 15s infinite linear alternate;
    background-size: 100% 1180px;
    background-position-y: -90px;
    position: relative;
}

.capa {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.425);
}

@media (max-width: 1600px) {
    #rankings-banner-container {
        width: 100%;
        height: 870px;
        background-size: 110% 890px;
        background-position-y: -1px;
    }
}


@media (max-width: 1000px) {
    #rankings-banner-container {
        width: 100%;
        height: 870px;
        background-size: 100% 890px;
        background-position-y: -1px;
      }
}

@media (max-width: 1000px) {
    #rankings-banner-container {
        width: 100%;
        height: 870px;
        background-size: 100% 890px;
        background-position-y: -1px;
      }
}

@media (max-width: 600px) {
    #rankings-banner-container {
        width: 100%;
        height: 100vh;
        background-size: 252% 813px;
        background-position-y: -1px;
        background-position-x: -264px;
}
}

@media (max-width: 900px) {
    #rankings-banner-container {
    width: 100%;
    height: 100vh;
    background-size: 232% 927px;
    background-position-y: -1px;
    background-position-x: -700px;
      }
}

@media (max-width: 560px){
#rankings-banner-container {
    width: 100%;
    height: 100vh;
    background-size: 240% 927px;
    background-position-y: -1px;
    background-position-x: -428px;
}}

@media (max-width: 420px) {
    #rankings-banner-container {
        height: 730px;
        background-size: 310% 749px;
        background-position-y: -20px;
        background-position-x: -547px;
    }
}

.rankings-content{
    position: absolute;
    z-index: 4;
}

#rankings-container-section{
    width: 80%;
    height: 90vh;
    border: 0px solid red;
}

#rankings-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    border: 0px solid green;
}


#rankings-username-container{
    width: auto;
    margin: 50px 30px 10px 0px;
    border: 0px solid blueviolet ;
}


#rankings-username-title{
    font-family: RobotoMedium;
    letter-spacing: 1px;
    font-size: 18px;
    color: #ffffff;
}

#rankings-pools-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 500px;
    margin-top: 30px;
    margin-bottom: 50px;
    height: 570px;
    border: 0px solid rgba(68, 67, 67, 0.747);
    box-shadow: -1px 2px 10px rgba(82, 81, 81, 0.548);
    border-radius: 20px;
}

#rankings-pools-info-container{
    width: 100%;
    height: 40px;
    background: #962037;
    border-bottom: 1px solid rgba(68, 67, 67, 0.747);
    border-radius: 5px 5px 0px 0px;
}

#rankings-pools-info-title-container{
    margin: 8px 0px 0px 15px;
    
}

#rankings-pools-info-title{
    font-family: RobotoLight;
    font-size: 20px;
    color: #ffffff;
}

#rankings-user-pools-container{
    width: 100%;
    height: 570px;
    margin-top: 8px;
    border: 0px solid green;
    display: flex;
    flex-direction: column;
    background: #ffffff;
    overflow-y: scroll;
}

.rankings-user-pool-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30px;
    padding: 5px;
    cursor: pointer;
    border-bottom: 1px solid rgba(68, 67, 67, 0.747);
}

.rankings-user-pool-container:hover {
    background: #96203883;
}

.rankings-user-pool-container-link{
    color: #222222;
}

.rankings-user-pool-number-container,
.rankings-user-pool-points-container{
    width: 80px;
}

.rankings-user-pool-user-container{
    width: 150px;
    margin-left: 10px;
    text-align: center;
}
.rankings-user-pool-number-title,
.rankings-user-pool-user-title,
.rankings-user-pool-points-title{
    font-family: RobotoLight;
    font-size: 17px;
    letter-spacing: 0px;
}

@media (max-width: 615px){

    #rankings-container-section{
        width: 95%;
    }
    
}

@media (max-width: 550px){

    #rankings-container-section{
        width: 97%;
    }
    
    #rankings-pools-container{
        width: 315px;
    }

    .rankings-user-pool-number-container{
        width: 10px;
    }
    .rankings-user-pool-points-container {
        width: 45px;
    }

    .rankings-user-pool-user-container {
        margin-left: 40px;
    }

    #rankings-username-container{
    width: auto;
    margin: 50px 5px 10px 0px;
    border: 0px solid blueviolet;
}

}