{% extends "layout.html" %}

{% load static %}

{% block body %}
   <section id="pool-matches-content">
    {% if group_round_finished == True %}
        <div id="worldcup-key-pool-matches-btn" class="worldcup-key-pool-matches-btn">
            <h4 id="worldcup-save-pool-matches-btn-title">LLaves</h4>
        </div>
    {% endif %}

    <section id="pool-points-section">
      <div id="pool-round-group-matches-points-container" class="pool-points-container">

      </div>
      <div id="pool-group-points-container" class="pool-points-container">

      </div>
      <div id="pool-round-key-matches-points-container" class="pool-points-container">

      </div>
   </section>
    <section id="index-teams-groups-section">

    <div id="worldcup-matches-container"></div>
   
        {% for group in groups %}
           <div id="team-group-container_{{group}}" class="team-group-container">
              <div id="worldcup-group-container">
                 <h4 class="worldcup-group-container-title">Group {{group}}</h4>
                 <label class="index-worldcup-groups" for="" hidden>{{group}}</label>
             </div>
             <div id="worldcup-group-data-container">
                 <div id="worldcup-group-data-team-container">
                    <h4 class="worldcup-group-data-stats-team-title">Team</h4>
                 </div>
                 <div class="worldcup-group-data-stats-container">
                    <h4 class="worldcup-group-data-stats-title">G</h4>
                 </div>
                 <div class="worldcup-group-data-stats-container">
                    <h4 class="worldcup-group-data-stats-title">E</h4>
                 </div>
                 <div class="worldcup-group-data-stats-container">
                    <h4 class="worldcup-group-data-stats-title">P</h4>
                 </div>
                 <div class="worldcup-group-data-stats-container">
                    <h4 class="worldcup-group-data-stats-title">GF</h4>
                 </div>
                 <div class="worldcup-group-data-stats-container">
                    <h4 class="worldcup-group-data-stats-title">GA</h4>
                 </div>
                 <div class="worldcup-group-data-stats-container">
                    <h4 class="worldcup-group-data-stats-title">GD</h4>
                 </div>
                 <div class="worldcup-group-data-stats-container">
                    <h4 class="worldcup-group-data-stats-title">Pts</h4>
                 </div>
                 <div id="worldcup-group-teams-container_{{group}}" class="worldcup-group-teams-country-container"></div>
             </div>
           </div>
        {% endfor %}
     </section>

    {% if group_round_finished == False %}
        <div id="key-round-title-container">
            <h4 id="key-round-title">Fase de llaves</h4>
        </div>
    {% endif %}
    
    <div id="worldcup-key-matches-container"></div>
   </section>
{% endblock body %}

{% block script %}
   <script src="{% static '/js/analize_group_pool_points.js' %}"></script>
    <script src="{% static '/js/retrieve_pool.js' %}"></script>
    <script src="{% static '/js/pool_group_teams.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/pool_key_matches_styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/pool_matches_styles.css' %}">
{% endblock %}