{% extends "layout.html" %}

{% load static %}

{% block body %}
   <section id="pool-matches-content">
    {{group_round_finished}}
    {% if group_round_finished == False %}
        <div id="worldcup-save-pool-matches-btn" class="worldcup-save-pool-matches-btn">
            <h4 id="worldcup-save-pool-matches-btn-title">LLaves</h4>
        </div>
        {% endif %}
    <div id="worldcup-matches-container"></div>
    <!--<div id="worldcup-save-pool-matches-btn-container">
        <div id="worldcup-save-pool-matches-btn" class="worldcup-save-pool-matches-btn">
            <h4 id="worldcup-save-pool-matches-btn-title">Finalizar</h4>
        </div>
    </div>-->
   </section>
{% endblock body %}

{% block script %}
    <script src="{% static '/js/retrieve_pool.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/pool_matches_styles.css' %}">
{% endblock %}